textarea.description {
  max-height: 30em;
  max-width:  50em;
  min-height: 30em;
  min-width:  50em;
  height: 40em;
  width:  40em;

}
/* textarea屬性，習慣限制大小，不讓使用者自行拉動邊匡 */


.navbar-brand {
  font-size: 28px;
}

